@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fira Sans", serif;
}

/* *Globals */

.primary-btn {
  background-color: #006A50;
  color: white;
  padding: 16px;
  font-family: inherit;
  border-radius: 8px;
  width: 230px;
  border: none;
  font-weight: 600;
}

.primary-btn:hover {
  cursor: pointer;
  /* background-color: white; */
  color: black;
}

.primary-btn-small {
  background-color: #006A50;
  color: white;
  padding: 16px;
  font-family: inherit;
  border-radius: 8px;
  width: 125px;
  border: none;
  font-weight: 600;
}

.primary-btn-small:hover {
  cursor: pointer;
  color: black;
}

.btn-green-outline {
  color: #006A50;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #006A50;
  padding: 12px;
  width: 100px;
  font-family: inherit;
  font-weight: 600;
}

.btn-green-outline:hover {
  cursor: pointer;
  background-color: #09A15C;
  color: white;
}

.section-title {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 27px;
}

.section-subtitle {
  color: #0E0E0E;
  filter: opacity(70%);
  margin-bottom: 24px;
}

.section-margint {
  margin-top: 80px !important;
}

/* *Nav Section */
/* TODO: Try to fix nav alignment */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.nav-title {
  font-weight: bold;
  font-size: 27px;
}

/* *Banner Section */
.banner {
  display: flex;
  justify-content: space-between;
  background-color: #C6E4D6;
  width: 75vw;
  margin: 0 auto;
  align-items: center;
  border-radius: 24px;
  margin-top: 24px;
  /* margin: 16px; */
  padding: 50px;
}

.banner-items {
  width: 432px;
}

.banner-subtitle {
  color: #0e0e0e50;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.banner-title {
  color: #0E0E0E;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
}

/* *Vision Section */
.vision {
  width: 80vw;
  margin: 0 auto;
}

.vision-container {
  display: flex;
  width: 80vw;
  flex-direction: column;
}

.vision-cards {
  display: flex;
  gap: 18px;
}

.vision-card {
  display: grid;
  border-radius: 16px;
  padding: 27px;
  width: 410px;
}

#vision-card1 {
  background-color: #5490F520;
}

#vision-card2 {
  background-color: #C6E4D6;
}

#vision-card3 {
  background-color: #F7EBCF;
}

.vision-card-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 12px;
}

.vision-card-subtitle {
  font-size: 14px;
  color: #0e0e0ec7;
}

.vision-card-img {
  margin-bottom: 16px;
}

.blue-btn {
  color: white;
  background-color: #5490F5;
  border-radius: 8px;
  border: none;
  padding: 13px;
  width: 120px;
}

.blue-btn:hover {
  cursor: pointer;
  color: black;
}

.yellow-btn {
  color: white;
  background-color: #FFC239;
  border-radius: 8px;
  border: none;
  padding: 13px;
  width: 120px;
}

.yellow-btn:hover {
  cursor: pointer;
  color: black;
}

.green-btn {
  color: white;
  background-color: #09A15C;
  border-radius: 8px;
  border: none;
  padding: 13px;
  width: 120px;
}

.green-btn:hover {
  cursor: pointer;
  color: black;
}

.vision-btn {
  margin-top: 40px;
  font-family: inherit;
  align-self: flex-end;
  font-weight: 600;
  /* margin-top: auto; */
}

/* *Donate Section */
.donate {
  width: 80vw;
  margin: 0 auto;
}

.donate-container {
  width: 80vw;
  display: flex;
  flex-direction: column;
}

.donate-cards {
  display: flex;
  justify-content: space-between;
}

.donate-card {
  font-size: 40px;
  padding: 34px;
  border-radius: 16px;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border: 1px solid #0E0E0E15;
}

.donate-card:hover {
  cursor: pointer;
  color: black;
  background-color: #09A15C;
}

#green-donate-card {
  background-color: #C6E4D6;
}

#green-donate-card:hover {
  background-color: #09A15C;
}

.full-width-input {
  margin-top: 20px;
  padding: 16px;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  border: 1px solid #0E0E0E15;
}

.full-width-input[placeholder] {
  font-family: inherit;
  text-align: center;
  font-size: 16px;
}

.donate-btn {
  text-align: center;
  margin-top: 29px;
  border-radius: 8px;
}

/* *News Section */
.news {
  width: 80vw;
  margin: 0 auto;
}

.news-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
}

.news-cards {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  align-items: center;
}

.news-card-title {
  color: #0e0e0e;
  filter: opacity(70%);
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 12px;
}

.news-card-img {
  margin-bottom: 12px;
}

.satelite-img {
  margin-right: 32px;
  border-radius: 24px;
}

#right-img {
  margin-right: 0px !important;
  margin-left: 32px !important;
}

.news-card-subtitle {
  font-size: 16px;
  color: #0e0e0e;
  filter: opacity(80%);
}

#news-card-date {
  margin-bottom: 12px;
}

#news-card-description {
  margin-bottom: 32px;
}

.news-card {
  display: flex;
  margin-bottom: 24px;
  padding: 50px;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
}

/* *Newsletter Section */
.newsletter {
  width: 80vw;
  margin: 0 auto;
  background-color: #C6E4D6;
  border-radius: 24px;
}

.newsletter-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.newsletter-content {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 100px;
  padding-right: 100px;
}

.newsletter-input {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

#newsletter-subtitle {
  margin-bottom: 0px;
}

#newsletter-inputfield {
  width: 600px;
  height: 56px;
  padding: 0;
  margin-top: 0;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#newsletter-inputfield[placeholder] {
  font-family: inherit;
  text-align: start;
  text-indent: 40px;
}

#newsletter-btn {
  height: 56px;
  width: 150px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* *Footer Section */

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer-title {
  margin-top: 50px;
  margin-bottom: 18px;
}

hr {
  width: 60%;
  color: #0E0E0E;
  filter: opacity(20%);
}

footer {
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.06);
}

.social-icons {
  margin-top: 18px;
  margin-bottom: 50px;
}

.social-icons img:hover {
  cursor: pointer;
}

.social-icons img {
  margin-right: 23px;
}

#x-logo {
  margin-right: 0px;
}

/* *Quote Section */
.quote-container {
  display: flex;
  /* position: relative; */
  flex-direction: column;
  gap: 40px;
  margin-top: 32px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 48px;
  padding-bottom: 48px;
  border-radius: 16px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.06);
}

.quote {
  position: relative;
}

.quote-para {
  position: absolute;
  top: 35px;
}

.quote-author {
  font-weight: 600;
  font-size: 20px;
}

.quote-author-subtitle {
  font-size: 16px;
  color: #0E0E0E;
  filter: opacity(60%);
}

/* *Pillars Section */
.pillars {
  width: 80vw;
  margin: 0 auto;
}

.pillars-container {
  display: flex;
  flex-direction: column;
}

.pillars-cards {
  display: flex;
  gap: 20px;
}

.pillar-card {
  width: 300px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 16px;
  padding: 27px;
}